{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>My Notes</title>
    <link rel="stylesheet" href="{% static 'notes/style.css' %}">
</head>
<body>
<div class="container">
    <h1 class="title">My notes</h1>

    <form id="add-note-form" class="note-form">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" class="note-input" required>
        <textarea name="content" placeholder="The text of the note..." class="note-textarea" required></textarea>
        <button type="submit" class="note-button">Create a note</button>
    </form>

    <div id="notes-list">
        {% for note in notes %}
            <div class="note-card">
                <h2>{{ note.title }}</h2>
                <p>{{ note.content }}</p>
                <div class="actions">
                    <a href="{% url 'edit_note' note.id %}" class="edit-btn">Edit</a>
                    <a href="{% url 'delete_note' note.id %}" class="delete-btn">Delete</a>
                </div>
            </div>
        {% empty %}
            <p>There are no notes yet. Create the first one!</p>
        {% endfor %}
    </div>
</div>
<div style="text-align: right; margin-bottom: 20px;">
    <a href="{% url 'trash' %}" class="btn-trash-icon">🗑️</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'notes/scripts.js' %}"></script>
</body>
</html>