{% extends 'notes/base.html' %}

{% block content %}
 <style>
    .message-container {
        max-width: 500px;
        margin: 60px auto;
        padding: 40px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        text-align: center;
        color: white;
    }
     .message-container .title {
        font-size: 2em;
        margin-bottom: 20px;
    }
    .message-container p {
        font-size: 1.1em;
        margin-bottom: 25px;
    }
    .message-container a {
        color: #fcd12a; /* Яскравий колір для посилання */
        text-decoration: underline;
        font-weight: bold;
    }
</style>
<div class="message-container">
    <h1 class="title">Password changed successfully</h1>
    <p>Your password has been set. You may go ahead and log in now.</p>
     <p><a href="{% url 'notes:profile' %}">Return to Profile</a></p>
</div>
{% endblock %}